#main {
  margin: 50px 100px;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
a {
  font-size: x-large;
  text-decoration: none;
  color: rgb(64, 62, 59);
  font-weight: 600;
}
.nright {
  display: flex;
  gap: 30px;
}
nav button {
  color: aliceblue;
  background-color: black;
  border-radius: 7px;
  padding: 10px;
}
.container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.lbox img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.lbox {
  height: 700px;
  width: 600px;
  border-radius: 20px;
}
.rbox {
  height: 700px;
  width: 500px;
  display: block;
  border-radius: 20px;
}
.rbox {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.rbox h1 {
  font-size: 300%;
}
.rbox h2 {
  font-size: 200%;
  font-weight: 500;
  color: rgb(102, 99, 99);
}
.rbox h3 {
  font-size: 200%;
  font-weight: 600;
  color: black;
}
.rbox p {
  font-size: 150%;
  font-weight: 500;
  color: rgb(102, 99, 99);
}
.rbox button {
  padding: 15px;
  font-weight: 500;
  color: white;
  background-color: black;
  border-radius: 10px;
}
.rbox textarea {
  padding: 10px;
  font-size: 150%;
  font-weight: 500;
  color: white;
  border: none;
  margin-top: 20px;
}
.product {
}
.product img {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
}
#products {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#sub {
  margin-top: 100px;
  font-weight: 100;
  color: rgb(95, 88, 88);
}
.product h2 {
  font-weight: 100;
}
.product p {
  font-weight: 100;
  font-size: x-large;
  color: rgb(95, 88, 88);
}

footer {
  margin: 50px 100px;
}
.temp1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.temp2 {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.images img {
  max-width: 20px;
}
.images {
  display: flex;
  gap: 10px;

  bottom: 0;
}
footer {
  display: flex;
  gap: 60%;
}
.topics {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.topic1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

